 div {
    display: inline-block;
    
        border: 1px solid rgba(114, 113, 113, 0.863);
        width: 200px;
    
        height: 200px;
 }
.vermelha{

    background-color: rgb(245, 9, 9);
    
}
.azul{

    background-color: rgb(68, 175, 218);
}
.verde{
background-color: rgb(19, 138, 29);
}

.amarela{
background-color: rgba(229, 245, 14, 0.938);
}

#d1{
    
border:2px solid black
}
#d6{
    border: 2px solid black
}
#d25 {
    border: 2px solid black
}
#d30 {
    border: 2px solid black
}